body, html {
    padding:0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.controls {
    display: flex;
    align-items: center;
    min-height: 90px;
    
}

#color, #scheme, button {
    min-height: 42px; 
    margin: 10px;
    border-radius: 4px;
    font: inherit;
    min-width: 61px;
}

button {
    border: 1px solid black;;
}

select {
    flex-grow: 1;
}

#colorList {
    display: flex;
}

.color-div {
    width: 20vw;
    height: 60vh;
}

.color-container {
    text-align: center;
}